.art-edu{
   /* max-width: 1200px; */
   margin: 0 0 2rem 0;/* 0.8rem 1rem 2rem 1rem; */
   padding-top: 1.5rem;
   box-shadow: 0 3px 7px rgba(27, 34, 74, 0.945), 0 2px 10px rgba(85, 112, 177, 0.74);
   border: 1px solid rgb(97, 217, 250);
   border-top-left-radius: 1rem;
   border-bottom-right-radius: 3rem;
   background-color:whitesmoke;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}