<div class="container-fluid p-2">
   <div class="container-md anchoform centrar text-light transp f-exp">
      <h2 class="mx-lg-auto text-white">Agregar nueva Experiencia</h2>
      <form [formGroup]="formNewExperiencia" class="" (ngSubmit)="onEnviarNewExperiencia($event)">
         <div class="mx-auto ancho">
            <div class="m-3">
               <label for="inputEntidadId" class="form-label">Entidad</label>
               <input type="text" formControlName="entidad"
                  [ngClass]="{'is-invalid': Entidad?.errors && Entidad?.touched, 'is-valid': !Entidad?.errors && Entidad?.touched}"
                  class="form-control" id="inputEntidadId" aria-describedby="textHelp" />
               <div *ngIf="Entidad?.errors && Entidad?.touched">
                  <p *ngIf="Entidad?.hasError('required')" class="text-danger">
                     Este campo no puede estar vacio
                  </p>
                  <p *ngIf="Entidad?.errors?.['maxlength']" class="text-danger">
                     El campo debe contener como máximo 50 caracteres.
                  </p>
                  <p *ngIf="Entidad?.hasError('pattern')" class="text-danger">
                     Formato de campo no válido
                  </p>
               </div>
            </div>
            <div class="m-3">
               <label for="inputLogoID" class="form-label txt">Logo</label>
               <input type="text" formControlName="logo"
                  [ngClass]="{'is-invalid': Logo?.errors && Logo?.touched, 'is-valid': !Logo?.errors && Logo?.touched}"
                  class="form-control" id="inputLogoID"/>
               <div *ngIf="Logo?.errors && Logo?.touched">
                  <p *ngIf="Logo?.errors?.['maxlength']" class="text-danger">
                     El campo debe contener como máximo 35 caracteres.
                  </p>
                  <p *ngIf="Logo?.hasError('pattern')" class="text-danger">
                     Formato de campo no válido
                  </p>
               </div>
            </div>
            <div class="m-3">
               <label for="inputRolID" class="form-label">Rol</label>
               <input type="text" formControlName="rol"
                  [ngClass]="{'is-invalid': Rol?.errors && Rol?.touched, 'is-valid': !Rol?.errors && Rol?.touched}"
                  class="form-control" id="inputRolID" />
               <div *ngIf="Rol?.errors && Rol?.touched">
                  <p *ngIf="Rol?.errors?.['maxlength']" class="text-danger">
                     El campo debe contener máximo 100 caracteres.
                  </p>
                  <p *ngIf="Rol?.hasError('pattern')" class="text-danger">
                     Formato de campo no válido
                  </p>
               </div>
            </div>
            <div class="m-3">
               <label for="inputDescripcionID" class="form-label">Descripcion</label>
               <input type="text" formControlName="descripcion"
                  [ngClass]="{'is-invalid': Descripcion?.errors && Descripcion?.touched, 'is-valid': !Descripcion?.errors && Descripcion?.touched}"
                  class="form-control" id="inputDescripcionID" />
               <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                  <p *ngIf="Descripcion?.hasError('required')" class="text-danger">
                     Este campo no puede estar vacio
                  </p>
                  <p *ngIf="Descripcion?.errors?.['maxlength']" class="text-danger">
                     El campo debe contener máximo 255 caracteres.
                  </p>
                  <p *ngIf="Descripcion?.hasError('pattern')" class="text-danger">
                     Formato de campo no válido
                  </p>
               </div>
            </div>
            <div class="m-3">
               <label for="inputFechaIniID" class="form-label">Fecha de inicio</label>
               <input type="text" formControlName="fechaIni"
                  [ngClass]="{'is-invalid': FechaIni?.errors && FechaIni?.touched, 'is-valid': !FechaIni?.errors && FechaIni?.touched}"
                  class="form-control" id="inputFechaIniID" />
               <div *ngIf="FechaIni?.errors && FechaIni?.touched">
                  <p *ngIf="FechaIni?.hasError('required')" class="text-danger">
                     Este campo no puede estar vacio
                  </p>
                  <p *ngIf="FechaIni?.hasError('pattern')" class="text-danger">
                     Formato de campo no válido
                  </p>
               </div>
            </div>
            <div class="m-3">
               <label for="inputFechaFinID" class="form-label">Fecha de finalización</label>
               <input type="text" formControlName="fechaFin"
                  [ngClass]="{'is-invalid': FechaFin?.errors && FechaFin?.touched, 'is-valid': !FechaFin?.errors && FechaFin?.touched }"
                  class="form-control" id="inputFechaFinID"/>               
               <div *ngIf="FechaFin?.errors && FechaFin?.touched">
                  <p *ngIf="FechaFin?.hasError('pattern')" class="text-danger">
                     Formato de campo no válido
                  </p>
               </div>
            </div>

            <button name="btnGuardarExperiencia" type="submit" class="btn btn-primary m-3"
               [disabled]="formNewExperiencia.invalid">Guardar</button>
         </div>
      </form>
   </div>
</div>