<section id="proyectos" class="container-lg pad-top pb-5 mb-5">
   <header class="d-flex-xl ms-3">
      <div class="flex-shrink-0">
         <div class="d-flex align-middle">
            <div class="flex-shrink-1 me-4">
               <h2 class="text-white txt"><i>Proyectos</i></h2>
      </div>
      <div *ngIf="esAdmin" class="flex-shrink-2">
         <button class="me-right btn-nuevo" type="button" title="Agregar Proyecto" routerLink="/proyecto/nuevo">
            <b>+</b>
         </button>
      </div>
   </div>
</div>
   </header>
   <ul>
      <li *ngFor="let proyecto of proyectoList">
         <article class="d-flex-xl align-items-center art-pro">
            <div class="flex-shrink-0">
               <div class="d-flex align-items-center">
                  <div class="flex-shrink-1 mx-3">
                     <img [src]="proyecto.logo" width="60px" height="60px" [title]="proyecto.nombre"
                        alt="Logo del proyecto {{proyecto.nombre}}" />
                  </div>
                  <div class="flex-grow-2 mx-3 my-3">
                     <div class="align-middle">
                        <h3 class="fs-5 fw-bold">{{proyecto.nombre}}</h3>
                        <p class="fs-6">{{proyecto.descripcion}}</p>
                        <a [href]="proyecto.link" class="">{{proyecto.link}}</a>
                     </div>
                  </div>
               </div>
            </div>
            <div *ngIf="esAdmin">
               <button class="btn-edt mx-2" type="button" title="Editar Proyecto" routerLink="/proyecto/editar/{{proyecto.id}}">
                  <i class="bi bi-pen"></i>
               </button>
               <button class="btn-borrar mb-4" type="button" title="Borrar Proyecto" (click)="borrar(proyecto.id)">
                  <b>X</b>
               </button>
            </div>
         </article>
      </li>
   </ul>
</section>