<div>
   <app-navbar></app-navbar>
   <router-outlet></router-outlet>

   <!--  Al agregar 'login' para visualizar el portfolio, generamos los componentes hijos
         'login' y 'portfolio', con lo que movemos todos los componentes anteriores 
         dentro de 'portfolio' para que sean accedidos sólamente luego de ser validadas
         las credenciales -->
   <!--  <app-persona></app-persona>
   <app-experiencias></app-experiencias>
   <app-educacion></app-educacion>
   <app-cursos></app-cursos>
   <app-aptitudes></app-aptitudes>
   <app-proyectos></app-proyectos> -->

   <app-footer></app-footer>
</div>