h2 {
   margin-top: 4rem;   
}

.anchoform {
   max-width: 40rem;
}
.ancho {
   max-width: 30rem;
}

.centrar {
   width: 100vw;
   height: 100vh;
   text-align: center;
   padding-top: calc(100vh / 4);
}
.txt-sombra {
   text-shadow: 3px 1px 3px black;
}

.transp {
   background-color: rgba(0, 0, 0, 0.45);
}

.f-edu{
   /* max-width: 1200px; */
  /*  margin: 0 0 2rem 0; /* 1rem 1rem 1.1rem 1rem; */
   padding-top: 0.3rem;
   box-shadow: 0 3px 7px rgba(65, 39, 22, 0.945), 0 2px 10px rgba(197, 147, 96, 0.74);
   border: 1px solid rgb(255, 193, 93);
   border-top-left-radius: 1rem;
   border-bottom-right-radius: 3rem;
}
